<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelloService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59311/HelloService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHelloService" contract="ExternalService.IHelloService"
                name="BasicHttpBinding_IHelloService" />
        </client>
    </system.serviceModel>
</configuration>